*{
    margin:0;
    padding:0;
}
html, body{
    font-size: 16px;
    width: 100%;
    height: 100%;
    color:#666;
}
input, button{
    outline: none;
}
.clearfix:after{
    content: '';
    display: block;
    clear:both;
}
#signInAndSignUp{
    position: relative;
    width: 100%;
    height: 100%;
}
#signInAndSignUp .cover{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(./img/bg.jpg) no-repeat;
    background-size:cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
#signInAndSignUp .content{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    padding: 90px 15px 60px;
    border-radius: 8;
    background:#aaa;
    opacity: .6;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.6);
}

#signInAndSignUp .label{
    float: right;
    margin: 20px;
}
#signInAndSignUp label{
    position: relative;
    height: 20px;
    margin-right: 15px;
    line-height: 20px;
}
#signInAndSignUp label input{
    width: 18px;
    height: 18px;
    vertical-align:middle;
    opacity: 0;
}
#signInAndSignUp label span:before{
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:2px solid #aaa;
    background: #fff;
 }
  #signInAndSignUp label input:checked +span:after{
    content: '√';
    position: absolute;
    left: 0;
    top:0;
    font-size: 30px;
    color:#54b2c1;
    transform: translate(-2.5px,-4px);
  }
#signInAndSignUp label:hover span:before{
    border:2px solid #74b2c1;
}
.formRow{
    margin: 20px;
}
.formRow input{
    height: 30px;
    line-height: 30px;
    width: 180px;
    padding:0 5px;
    border:1px solid #ccc;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
    background: #fff !important;
}
.formRow input:focus{
    border:1px solid #84b2c1;
    box-shadow: 1px 1px 3px 1px rgba(200,234,234,1);
}
.formActions{
    text-align: center;
}
.formActions input,.logout button{
    margin-top:50px;
    padding: 5px 10px;
    border-radius: 5px;
    border:1px solid #fff;
    background: #84b2c1;
    color:#fff;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
}
.formActions input:hover,.logout button:hover{
     background: #74b2c1;
}
#todo{
    width: 800px;
    margin:30px auto;
}
.newTask input{
    width: 100%;
    height: 40px;
    margin:20px 0;
    border:1px solid #ccc;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
    background: #fff !important;
    line-height: 40px;
    font-size: 16px;
}
.newTask input:focus{
    border:1px solid #888;
}
.todos li{
    padding: 20px;
}
.todos li:hover{
    background: #eee;
}

.note{
    float:right;
}
.note button{
    border:1px solid #bbb;
    border-radius: 3px;
    font-size: 10px;
    padding: 3px;
    color:#fff;
    cursor: pointer;
    background:#ccc;
}
.note span:last-child{
    margin-left: 50px;
    font-size: 14px;
    color:#666;
}
.logout{
    float: right;
